@using System.Security.Claims
@model Expense

@{
    ViewBag.Title = "Store";
    bool isSrAccount = User.IsInRole("SrAccountant");
}

<style>

    .cheque:focus ~ .chequeprops {
        display: none;
    }

    .cash:focus ~ .alert {
        display: block;
    }
</style>

<div class="container col-md-8" style="margin-top: 150px;margin-bottom: 100px;">
    <h2>@ViewBag.Title</h2>
    <form method="post" asp-action="Store" asp-controller="Expense">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ExpenseName" class="control-label"></label>
            <input asp-for="ExpenseName" class="form-control" />
            <span asp-validation-for="ExpenseName" class="text-danger"></span>
        </div>
        @*<div class="form-group">
                <label asp-for="AppUserId" class="control-label"></label>
                <input asp-for="AppUserId" class="form-control" />
                <select asp-for="AppUserId" class="form-control" asp-items="ViewBag.AppUserId"></select>

                <span asp-validation-for="AppUserId" class="text-danger"></span>
            </div>*@
        @*<div class="form-group">
                <label asp-for="AppRoleId" class="control-label"></label>
                <select asp-for="AppRoleId" class="form-control" asp-items="ViewBag.AppRoleId"></select>
            </div>*@
        <div class="form-group">
            <label asp-for="Amount" class="control-label"></label>
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Income Type:</label>
            <div class="radio" id="hide">
                <label><input asp-for="Type" type="radio" value="Cash" checked>Cash</label>
            </div>
            <div class="radio" id="show">
                <label><input asp-for="Type" type="radio" value="Cheque">Cheque</label>
            </div>
            <span asp-validation-for="Type" class="text-danger"></span>

        </div>

        <div class="form-group chequeprops" style="display: none;">
            <label asp-for="ChequeNo" class="control-label"></label>
            <input asp-for="ChequeNo" class="form-control" />
            <span asp-validation-for="ChequeNo" class="text-danger"></span>
        </div>
        <div class="form-group chequeprops" style="display: none;">
            <label asp-for="BankName" class="control-label"></label>
            <input asp-for="BankName" class="form-control" />
            <span asp-validation-for="BankName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Particular" class="control-label"></label>
            <textarea asp-for="Particular" class="form-control"></textarea>
            <span asp-validation-for="Particular" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Date" class="control-label"></label>
            <input asp-for="Date" class="form-control ui-datepicker" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input asp-for="IsApproved" /> @Html.DisplayNameFor(model => model.IsApproved)
                </label>
            </div>
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="Id" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    <script>
        $(function () {
            $("#hide").click(function () {
                $(".chequeprops").hide(500);
            });
            $("#show").click(function () {
                $(".chequeprops").show(500);
            });
        });</script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
